body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fbfc;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b5d6e9;
  padding: 20px;
  text-align: center;
  color: #1a1a1a;
}

main {
  padding: 30px;
}

.malla {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.semestre {
  background-color: #e4f1f8;
  border: 1px solid #bdd7ee;
  border-radius: 8px;
  padding: 20px;
  width: 220px;
}

.semestre h2 {
  margin-top: 0;
  text-align: center;
  color: #2e6f95;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #bcd;
}

li:hover {
  background-color: #d9efff;
}

.aprobado {
  text-decoration: line-through;
  color: #888;
  background-color: #def1e0 !important;
}

.bloqueado {
  opacity: 0.4;
  pointer-events: none;
}
